In [1]:
x = 10
y = 5

print(x+y)

15

In [2]:
#입력
name = input('이름을 입력하세요')

#당신의 이름은 나예호입니다.
print(name)

이름을 입력하세요하이
하이

In [4]:
age = 21
#나예호는 21살 입니다.
print(name + "는" + str(age) + "살입니다")

하이는21살입니다

In [3]:
num1 = input('첫 번째 정수 입력 : ')
num2 = input('두 번째 정수 입력 : ')
sum = int(num1)+int(num2)
print(str(num1)+' 과'+str(num2)+' 합은'+str(sum)+' 입니다.')
print('{}과 {}의 합은 {}입니다.'.format(num1, num2, sum))
print(num1//num2) #몫만 구할때 쓴다.

첫 번째 정수 입력 : 10
두 번째 정수 입력 : 20
10 과20 합은30 입니다.
10과 20의 합은 30입니다.

In [13]:
num = int(input('초 입력 : '))
hour = num//3600
minute = num%3600//60
second = num%3600%60%60

print('{}시 {}분 {}초'.format(hour, minute, second))

초 입력 : 4542525
1261시 48분 45초

# 리스트명 = [요소1, 요소2, 요소3]

In [22]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [29]:
#리스트명 [인덱스] ---> 인덱싱
#요소1 : 요소2 --->요소 1부터 요소 2 앞까지

print(c[:2])
print(c[0],c[1])  #문자열을 출력함!

['Life', 'is']
Life is

In [48]:
list2 = [10,40,50,34,30,20,26,90]
#50부터 20까지 요소를 출력
print(list2[2:6:1])
print(list2[-6:-2:1])
#10부터 30까지
print(list2[0:5:1])
print(list2[-8:-3:1])

[50, 34, 30, 20]
[50, 34, 30, 20]
[10, 40, 50, 34, 30]
[10, 40, 50, 34, 30]

In [73]:
list3 = ['소고기짬뽕','치킨','낙지덮밥','얼큰수제비','불족발','랍스타']
#인덱싱을 통해서 랍스타를 출력해주세요.
print(list3[-3:5])
print(list3[3:-1])

['얼큰수제비', '불족발']
['얼큰수제비', '불족발']

In [78]:
array = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
#3[3,['a','b','c'],4] 출력
#['a','b']만 출력

print(array[2:5])
print(array[3][0:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [87]:
#python is very easy
#str2를 출력하세요

str2 = 'python is very easy'
print(str2)

#'python is very easy.' he said. 를 str3에 대입하세요.
#str3를 출력하세요
str3 = '\'python is very easy.\' he said.'
print(str3)
#str4 = ''''''

multiline = 'Life ins too short. \nYou need Python'
print(multiline)

python is very easy
'python is very easy.' he said.
Life ins too short.
You need Python

# Dictionary

In [101]:
dic = { 'name': '나예호','age' : 21,'Tel' : '010-1234-1234'}

In [102]:
print(dic)

{'name': '나예호', 'age': 21, 'Tel': '010-1234-1234'}

In [105]:
# name이라는 key값에 해당하는 Value
print(dic['name'])
print(dic.get('Tel'))

나예호
010-1234-1234

In [106]:
# 딕셔너리명[key] = Value     >>>>딕셔너리 추가 할 수 있음.
dic['addr'] = '광주 남구 CGI'

In [107]:
print(dic)

{'name': '나예호', 'age': 21, 'Tel': '010-1234-1234', 'addr': '광주 남구 CGI'}

In [112]:
#딕셔너리 키 값만 출력
list4 = list(dic.keys())   #list로 형변환!!
list5 = list(dic.values())

print(list4)
print(list5)

['name', 'age', 'Tel', 'addr']
['나예호', 21, '010-1234-1234', '광주 남구 CGI']

In [113]:
#key값 in 딕셔너리명
#True of False
print('name' in dic)   #'name'이 dic 안에 있나??
print('birth' in dic)

True
False